body{
    background-image: url("static/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

#flex {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

#text{
    color: azure;
    font-size: 41px;
    font-family: cursive;
}

#highlight{

        color: #e31b6d;
}

#highlight:hover{
    color:aqua;
}

#line2{
    padding-left: 100px;
}

#explore{
    
    font-family: cursive;
    font-size: 30px;
    color: white;
    border: 2px solid #fff;
    padding: 5px;
    margin: 20px;
    
}

a{
    color: #fff;
    text-decoration: none;
}

#explore:hover{
    color:red;
}

#Exp-btn{
    margin: 20px;
}
